
body{
  background-color: rgb(164, 227, 248);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace
}
*{
  text-align: center;
  margin-top: 3%;
  width: 80%;
  margin-left: 8%;

}
.text{
  margin-top: -39%;
  color: rgb(12, 12, 12);
}